doctype html
html
  head
    title Home page
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Pets
  
    table
      thead
        tr
          th Name
          th Breed
          th Bio
      tbody
        each contact in data
          tr
            td #{contact.name}
            td #{contact.age}
            td #{contact.color}

    a(href="/update-cobj") Add to this table